<body>
  <div class="flex-container">
    <a class="nav-link" routerLink="../Emplist1">
      <button>
        <span class="text">Emplist1</span>
        <span class="blob"></span>
        <span class="blob"></span>
        <span class="blob"></span>
        <span class="blob"></span>
      </button>
    </a>

    <a class="nav-link" routerLink="../Emplist2">
      <button>
        <span class="text">Emplist2</span>
        <span class="blob"></span>
        <span class="blob"></span>
        <span class="blob"></span>
        <span class="blob"></span>
      </button>
    </a>

    <a class="nav-link" routerLink="../Emplist3">
      <button>
        <span class="text">Emplist3</span>
        <span class="blob"></span>
        <span class="blob"></span>
        <span class="blob"></span>
        <span class="blob"></span>
      </button>
    </a>
  </div>
</body>
